body {
    margin: 0;
}

header {
    background-color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 70%;
    margin: auto;
}

.danhmuc {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.logo {
    width: 15%;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: #9b9b9b;
    font-size: 16px;
    font-family: "SFProDisplay", Arial, sans-serif;
}

a:hover {
    color: orange;
}

.chucnang {
    display: flex;
    align-items: center;
    gap: 20px;
}

.muagoi {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
}

.dangnhap {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
}

main {
    background-color: #131314;
    color: white;
    width: 100%;
    /* height: 1000px; */
}

.quangcao {
    display: flex;
    justify-content: center;
}
.quangcao img{
    width: 70%;
}

.container {
    width: 70%;
    background-color: black;
    /* height: 1000px; */
    margin: auto;
}

.banner {
    width: 98%;
}

.qc {
    margin-top: 10px;
    width: 98%;
    border-radius: 10px;
}

.tentheloai {
    margin: 20px;
    font-family: "SFProDisplay", Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.danhsach {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.phim {
    width: 19%;
}

.phim img {
    width: 100%;
}
.ten{
    font-family: "SFProDisplay", Arial, sans-serif;
}
.khoangtrong{
    background-color: black;
    height: 70px;
}
.footer{
    background-color: black;
}
footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    height: 200px;
}
.anh-footer img{
    width: 30%;
    align-items: center;
}
.menu {
    display: block;
    justify-content: left ;
    font-size: 12px;
    width: 100%;
}
.danhmuc-footer{
    width: 80%;
}
.tieude-menu{
    font-size: 12px;
    font-family: "SFProDisplay", Arial, sans-serif;
    display: block;
}


